@use "sass:color";

/* La persoalización se encuentra en el fichero de configuraicón de tailwind */

/*
$color_fest_rosa: #ff00e6;
$color_fest_azul: #00b5ec;
$color_fest_amarillo: #ffeb3b;
$color_fest_verde: #39ff14;
$color_fest_oscuro1: #011027;
$color_fest_oscuro2: #000110;
$color_fest_claro1: #f5f5f5;
*/
